{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortByLength": "desc"
}
